$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;
$blue: #41c3df;
$orange: #f78b4f;
$silver: #ccd5da;
$silver-dark: #788f9c;

h1 {
  font-size: 1.17em;
}
h2 {
  font-size: 1.1em;
}
p {
  font-size: 1em;
}

.AlertText {
  color: $primary-color;
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}
